{% extends 'index.html' %}
{% load static %}
	
{% block content %}

<div class="body-inner">
	
	<header id="header" class="navbar-fixed-top header" role="banner">
		<div class="container">
			<div class="row">
				
				<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
				    <div class="navbar-brand navbar-bg">
					    <a href="../">
					    	<img class="img-responsive" src="{% static 'img/logo.png' %}" alt="logo">
					    </a> 
				    </div>                   
				</div>
				<nav class="collapse navbar-collapse clearfix" role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
                       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
                       		<div class="dropdown-menu">
								<ul>
		                            <li><a href="../">Home</a></li>
		                        </ul>
	                    	</div>
	                    </li>
						<li class="dropdown">
                       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sobre <i class="fa fa-angle-down"></i></a>
                       		<div class="dropdown-menu">
								<ul>
		                            <li><a href="../about2.html">Sobre nós</a></li>
		                        </ul>
	                    	</div>
	                    </li>
	                    <li class="dropdown">
                       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Curiosidades <i class="fa fa-angle-down"></i></a>
                       		<div class="dropdown-menu">
								<ul>
		                           	<li class="active"><a href="../team.html">Time</a></li>
		                           	<li><a href="../service.html">Serviços</a></li>
		                        </ul>
	                    	</div>
	                    </li>
	                    <li class="dropdown">
                       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Planos <i class="fa fa-angle-down"></i></a>
                       		<div class="dropdown-menu">
								<ul>
		                           	<li><a href="../pricing.html">Preços</a></li>
		                        </ul>
	                    	</div>
	                    </li>
            			<li><a href="../contact.html">Contact</a></li>
                    </ul>
				</nav>
			</div>
		</div>
	</header>

	<div id="banner-area">
		<img src="{% static 'img/banner/banner2.jpg' %}" alt ="" />
		<div class="parallax-overlay"></div>
			
			<div class="banner-title-content">
	        	<div class="text-center">
		        	<h2>Our Team</h2>
		        	<ul class="breadcrumb">
			            <li>Home</li>
			            <li>Pages</li>
			            <li><a href="#"> Our Team</a></li>
		          	</ul>
	          	</div>
          	</div>
	</div>


	<section id="main-container">
		<div class="container">


			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon classic pull-left"><i class="fa fa-users"></i></span>
					<h2 class="title classic">Team Style 1</h2>
				</div>
			</div>

			
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInLeft">
						<div class="img-hexagon">
							<img src="{% static 'img/team/team1.jpg' %}" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Cristopher Araujo</h3>
							<p>Web Designer</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>	
				</div><!--/ Team 1 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInLeft">
						<div class="img-hexagon">
							<img src="{% static 'img/team/team2.jpg' %}" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Thiago mouzinho</h3>
							<p>Web Designer</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div><!--/ Team 2 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInRight">
						<div class="img-hexagon">
							<img src="{% static 'img/team/team3.jpg' %}" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Gabriel Neres</h3>
							<p>Web Designer</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div><!--/ Team 3 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team animate wow slideInRight">
						<div class="img-hexagon">
							<img src="{% static 'img/team/team4.jpg' %}" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Tiago Dinis</h3>
							<p>Web Designer</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div><!--/ Team 4 end -->
			</div><!--/ Content row end -->


			<div class="gap-60"></div>

			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon classic pull-left"><i class="fa fa-users"></i></span>
					<h2 class="title classic">Team Style 2</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="team team-list wow slideInLeft">
						<div class="img-hexagon">
							<img src="{% static 'img/team/team1.jpg' %}" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Vosgi Varduhi</h3>
							<p>Web Designer</p>
							<p class="desc">Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>

							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>	
				</div><!--/ Team 1 end -->
				<div class="col-md-6 col-sm-6">
					<div class="team team-list wow slideInRight">
						<div class="img-hexagon">
							<img src="{% static 'img/team/team2.jpg' %}" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Robert Aleska</h3>
							<p>Web Designer</p>
							<p class="desc">Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div><!--/ Team 2 end -->
			</div><!--/ Content row end -->

			<div class="gap-60"></div>

			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon classic pull-left"><i class="fa fa-users"></i></span>
					<h2 class="title classic">Team Style 3</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="team team-list-square wow slideInLeft">
						<div class="img-square">
							<img src="{% static 'img/team/team3.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h3>Vosgi Varduhi</h3>
							<p>Web Designer</p>
							<p class="desc">Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>

							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>	
				</div><!--/ Team 1 end -->
				<div class="col-md-6 col-sm-6">
					<div class="team team-list-square wow slideInRight">
						<div class="img-square">
							<img src="{% static 'img/team/team4.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h3>Robert Aleska</h3>
							<p>Web Designer</p>
							<p class="desc">Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div><!--/ Team 2 end -->
			</div><!--/ Content row end -->

		</div><!--/ container end -->

	</section><!--/ Main container end -->
	
	{% endblock %}  

	<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="icon" href="{% static 'img/favicon/favicon-32x32.png' %}" type= "{% static 'image/x-icon' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicon/favicon-144x144.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicon/favicon-72x72.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon/favicon-54x54.png' %}">
	

	
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" href="{% static 'css/cd-hero.css' %}">
    <link id="style-switch" href="{% static 'css/presets/preset3.css' %}" media="screen" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/style-switcher.js' %}"></script>

<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>

<script type="text/javascript" src="{% static 'js/cd-hero.js' %}"></script>

<script type="text/javascript" src="{% static 'js/isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ini.isotope.js' %}"></script>

<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.counterup.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

<script type="text/javascript" src="{% static 'js/efeitoescrita.js' %}"></script>
</head>
<body>

        <div class="body-inner">
	
                <header id="header" class="navbar-fixed-top header" role="banner">
                    <div class="container">
                        <div class="row">
                            
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-brand navbar-bg">
                                    <a href="../">
                                        <img class="img-responsive" src="{% static 'img/logo.png' %}" alt="logo">
                                    </a> 
                                </div>                   
                </header>

    <div class ="container mt-4">
        <form action="submit", method="POST"> {% csrf_token %}
            <h2>LOGIN</h2>
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text", class="form-control" id="username" name="username" placeholder="Username">
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password", class="form-control" id="password" name="password" placeholder="Senha">
            </div>
    
            <div>
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <strong>Error!</strong> {{ message }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Entrar</button>
            </div>

        </form>
    </div>


</body>
</html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
